<% provide(:title, 'Contact me') %>
<div class="hero-unit"><h3>Contact Me</h3></div>
<div >Harikrishna Kanta</div>
<div>Current work place: V2solutions</div>
<div>email-id:kantaharikrishna@gmail.com</div>


